.cardContainer {
  margin-bottom: 12px;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-muted);
  border-radius: 6px;
  padding: 0 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  position: relative;
}

.card:nth-child(odd) {
  background-color: var(--bg-secondary);
}

.card:nth-child(even) {
  background-color: var(--bg-primary);
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 120px;
}

.title {
  font-size: 1.1rem;
  color: var(--text-primary);
  margin: 12px 0 6px 0;
}

.name {
  color: var(--text-secondary);
  font-size: 0.9rem;
  margin: 4px 0;
}

.date {
  color: var(--text-primary);
  font-size: 0.9rem;
  margin: 0;
}

.status {
  position: absolute;
  top: 16px;
  right: 16px;
  font-weight: bold;
  font-size: 0.85rem;
  padding: 6px 12px;
  border-radius: 6px;
  text-align: center;
  color: var(--text-light);
  white-space: nowrap;
  z-index: 1;
}

.notes {
  font-size: 0.85rem;
  color: var(--text-secondary);
  text-align: right;
  align-self: flex-end;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.details {
  margin: 12px 0;
  background-color: #f0f0f0;
  padding: 12px 16px;
  font-size: 0.85rem;
  color: #333;
  border-radius: 4px;
  white-space: pre-wrap;
  border: 1px solid var(--color-muted);
}